.contactSection{
    margin-top: 1.5%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
    border: 1px solid rbga(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: white;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display: grid;
    margin: auto;
    /* background-color: rgb(79, 17, 65); */
    grid-template-columns: 1fr;
    max-width: 600px;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh 15vh 5vh;
    row-gap: 1vh;
    
}

/* input, textarea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(75, 75, 75, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 3px solid rbga(255, 255, 255);

} */

