@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Cousine', monospace;
}

*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --mainColor: #212529;
    --mainColorLight: #495057;
    --secondaryColor: #6C757D;
    --secondaryColorLight: #ADB5BD;
    --fontColor: #F8F9FA;
    --fontColorDark: #DEE2E6;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(10px);
    border: 1px solid rbga(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    color: var(--fontColor);
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-item{
    text-align: center;
    margin: 2rem 2rem;
    color: var(--fontColor);
    /* border: 0.15em solid var(--fontColor); */
    border-radius: .25em;
    padding: 0.25em 0.75em;
    /* box-shadow: inset 0px 0px .5em 0 var(--fontColorDark),
    0px 0px .5em 0 var(--fontColorDark); */
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 
    0 0 0.125em hsl(0, 0%, 100%/0.3),
    0 0 0.4em var(--fontColorDark);
    


   
}

.nav-item:hover{
 letter-spacing: 0.25rem;
 transition: 0.25s;
 /* background-color: var(--mainColor);
 box-shadow: 0 0 35px var(--mainColor) */
}